<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ibmhackathonApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">ibmhackathon</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/about">About</a></li>
              <li><a ng-href="#/">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      </div-->

      <div class='side-bar left-bar' ng-controller='LeftBarCtrl as ctrl'>
        <ul class='nav nav-pills nav-stacked'>
          <li ng-repeat="obj in ctrl.navItems" ng-class='{active: ctrl.chosen === obj.url.substr(1)}' ng-click="ctrl.chosen = obj.url.substr(1)">
            <a ng-href="{{obj.url}}">{{obj.title}}</a>
          </li>
        </ul>
      </div>

    <div ng-view=""></div>

    <div class='side-bar right-bar' ng-controller='RightBarCtrl as ctrl'>
      <div class='info-column tweets'>
        <div class='tweet-item' ng-repeat="tweet in ctrl.tweets">
          <p class='tweet-text'>{{tweet.text}}</p>
        </div>
      </div>
      <div class='info-column news'>
        <div class='news-item' ng-repeat="newsItem in ctrl.news">
          <p class='newsItem-text'>{{newsItem.text}}</p>
          <div id='insurance'>
            <p class='title'></p>
          </div>
        </div>
      </div>
      </div>
    <!--div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div-->


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/leftBar.js"></script>
        <script src="scripts/controllers/rightBar.js"></script>
        <script src="scripts/controllers/crime.js"></script>
        <script src="scripts/controllers/pollution.js"></script>
        <script src="scripts/services/crimeData.js"></script>
        <script src="scripts/services/pollutionData.js"></script>
        <!-- endbuild -->

    <script type="text/javascript">
      $(window).load(function() {
       
       insurance_data = [ 'Apollo;http://travel.policybazaar.com/assets/images/apollo.jpg', 
       'Bajaj Allianz;http://travel.policybazaar.com/assets/images/bajaj-allianz.jpg',
       'Bharti Axa;http://travel.policybazaar.com/assets/images/bharti-axa.jpg',
       'Future Gererali;http://travel.policybazaar.com/assets/images/future-generali.jpg',
       'HDFC;http://travel.policybazaar.com/assets/images/hdfc.jpg',
       'New India Insurance;http://travel.policybazaar.com/assets/images/new-india-assurance.jpg',
       'Reliance;http://travel.policybazaar.com/assets/images/reliance.jpg',
       'Religare;http://travel.policybazaar.com/assets/images/religare.jpg',
       'Tata AIG;http://travel.policybazaar.com/assets/images/tata-aig.jpg',
       'Universal Sompo Genral Insurance Company;ltd http://travel.policybazaar.com/assets/images/universal-sompo-general-insurance-company-ltd.jpg']

       insurance_name_arr=[];
       insurance_img_arr=[];

       function getRandomInt(min, max) {
           return Math.floor(Math.random() * (max - min + 1)) + min;
       }
       r1 = getRandomInt(0,insurance_data.length-4)

       for(i=r1;i<r1+4;i++){
        insurance_name_arr.push(insurance_data[i].split(';')[0]);
        insurance_img_arr.push(insurance_data[i].split(';')[1]);
        $("#insurance").append('<div>'+ insurance_data[i].split(';')[0]  +'</div>');
        $("#insurance").append('<img src="'+ insurance_data[i].split(';')[1]  +'">');
       }

       if ( document.URL.includes('crime') ){
        $("#insurance .title").text('The following insurance plans cover Accidental Death and Dismemberment Benefit,Emergency Accident Medical Expenses Reimbursement,Emergency medical evacuation');
       }
       if ( document.URL.includes('pollution') ){
        $("#insurance .title").text('The following insurance plans cover Accident terminal illness, and health problems on the go.');
       }       




      });
    </script>

</body>
</html>
